## --------------
## This file is auto generated.
## Please apply changes in `./data-raw/devstuffs.R`!
## -------------
/*
/*/
*.log
!/.gitignore
!/data-raw/
!/DESCRIPTION
!/inst/
!/LICENSE.md
!/man/
!NAMESPACE
!/R/
!/README.md
!/tests/
/.Rhistory
!/*.Rproj
/.Rproj*
/.RData
/.vscode
!/.lintr
!/NEWS.md
!/cran-comments.md
.~lock.*.csv#
!/docker/
/docker/*
!/docker/build_image.sh
!/docker/docker-compose.yml
!/docker/Dockerfile
!/docker/README.md
!/docker/.env
!/docker/app.R
!/docker/shiny-server.conf
!/docker/show-log.sh
.Rproj.user
